<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Professor</title>
    <link rel="stylesheet" href="./css/ExcluirCss.css">
</head>
<body>
    <h3>Excluir Professor</h3>

    <div id="excluir">
        <h4>Nome do professor:</h4>
        <p><%= professor.nome %></p>  </br>

        <h4>Matrícula:</h4> 
        <p><%= professor.matricula %></p> <br>

        <h4>Data de Nascimento:</h4> 
        <p><%= professor.dataNascimento %></p> <br><br>

        <!-- Corrigido o action do formulário para "/excluir/<%= professor.matricula %>" -->
        <form action="/excluir/<%= professor.matricula %>" method="post">
            <input type="submit" name="bntExcluir" value="Clique aqui para excluir os dados!">
        </form>
    </div>

</body>
</html>
